
.section-one {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: rgb(0, 11, 11);
    /* justify-content: center; */
    align-items: flex-start;
    width: auto;
    gap: 10%;
    height: 100vh;
    font-weight: bold;
    padding: 5% 2%;

}
#secOne {
    scroll-behavior: smooth;
}

.sectwodesc {
    font-size: 50px;
    padding: 5% 2%;
    align-items: center;
    justify-content: center;
    align-self: center;

  
}

.sectionpic {
    display: block;
    background-image: url('./pics/terminal.png');
    background-size:inherit;
    background-repeat: no-repeat;
    width: 900px;
    overflow: hidden;
    height: 700px;
    border: 2px solid darkslategray;
    border-radius: 2cap;
    align-items: center;
    justify-content: center;
    align-self: center;
    
}
@media (max-width: 1000px) {
    section.section-one div.sectwodesc {
        font-size: 40px;
        align-self: center;
        text-align: center;
        padding: 10px 15px;
    }
    div.sectionpic {
        width: 300px;
        background-size: cover;
    }
}